%head
  %title= current_resource.data.title
  :plain
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

  = stylesheet_link_tag 'app', media: 'screen'
