---
title: Home

toc:
- title: Breakout
  url: "/breakout"

- title: Phaser - Hello World
  url: "/phaser_hello_world"

- title: Phaser - Platformer Tutorial
  url: "/phaser_tut_02"

- title: BulletPool - Shooter Tutorial
  url: "/bulletpool"

- title: Metroid
  url: "/metroid"
---

%ul.main_menu
  - current_resource.data.toc.each do |resource|
    %li.main_menu-item
      %a{ href: resource.url }
        = resource.title