---
title: Metroid
---

= javascript_include_tag 'metroid'

%div{ style: "text-align: center;" }
  %a#fullscreen_btn{ href: "javascript:;", style: "display: inline-block; padding: 6px; margin: 12px 0;" } fullscreen
